<div class="row footer-row d-flex justify-content-center py-4 mt-5">
        <a href="https://github.com/thigabiga/" target="_blank">
            <img src="../../images/GitHub-Mark-Light-64px.png" class="tiny-logo mx-2" alt="Link to Github" />
        </a>
        <a href="https://www.linkedin.com/in/erin-thigpen/" target="_blank">
            <img src="../../images/In-White-48.png" class="tiny-logo mx-2" alt="Link to LinkedIn" />
        </a>
</div>