<footer class="footer-menu d-flex justify-content-left">
    <div class="footer-box d-flex justify-content-center">
        <a href="mailto:thigpen.erin@gmail.com" target="blank" class="nav-hashtag nav-bottom-hashtag">email</a>
        <a href="https://github.com/thigabiga" target="blank" class="nav-hashtag nav-bottom-hashtag" style="padding-left: 20px;">github</a>
        <a href="https://www.linkedin.com/in/erin-thigpen" target="blank" class="nav-hashtag nav-bottom-hashtag" style="padding-left: 20px;">linkedin</a>
        <a href="/" class="nav-hashtag nav-bottom-hashtag" target="blank" link-to="work" style="padding-left: 20px;">resume</a>
    </div>
</footer>