<footer class="footer-menu">
    <a href="mailto:thigpen.erin@gmail.com" target="blank" class="nav-bottom-hashtag">Gmail</a>
    <a href="https://github.com/thigabiga" target="blank" class="nav-bottom-hashtag">GitHub</a>
    <a href="https://www.linkedin.com/in/erin-thigpen" target="blank" class="nav-bottom-hashtag">LinkedIn</a>
    <a href="/" target="blank" link-to="work" class="nav-bottom-hashtag">Resume</a>
</footer>