<footer class="d-flex justify-content-around">
    <a href="/" class="nav-hashtag nav-bottom-hashtag" link-to="about">email</a>
    <a href="/" class="nav-hashtag nav-bottom-hashtag" link-to="work">github</a>
    <a href="/" class="nav-hashtag nav-bottom-hashtag" link-to="work">linkedin</a>
    <a href="/" class="nav-hashtag nav-bottom-hashtag" link-to="work">resume</a>
</footer>