<div class="header-menu">
    <div class="d-flex justify-content-between">
        <div>
        <a href="/" class="nav-hashtag nav-top-hashtag" link-to="home">erin thigpen</a>
        </div>
        <div>
        <a href="/" class="nav-hashtag nav-top-hashtag" link-to="about">about</a>
        <a href="/code" class="nav-hashtag nav-top-hashtag" link-to="work">work</a>
        </div>
    </div>
</div>