<div class="header-menu">
    <div class="d-flex justify-content-between">
        <div>
            <a href="/" class="brand-name">Erin Thigpen</a>
        </div>
        <div>
            <a href="/about" class="nav-top-hashtag">About</a>
            <a href="/" class="nav-top-hashtag" style="padding-left: 20px;">Work</a>
        </div>
    </div>
</div>