<div class="header-menu">
    <div class="d-flex justify-content-between">
        <div>
            <a href="/home" class="nav-hashtag nav-top-hashtag" link-to="home">erin thigpen</a>
        </div>
        <div>
            <a href="/about" class="nav-hashtag nav-top-hashtag" link-to="about">about</a>
            <a href="/code" class="nav-hashtag nav-top-hashtag" link-to="work" style="padding-left: 20px;">work</a>
        </div>
    </div>
</div>