<!-- <div class="row text-padding">
    <h3>About</h3>
</div> -->
<div class="spacer"></div>

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <img class="headshot" src="http://via.placeholder.com/300x300" />
        </div>
    </div>
</div>

<div class="row text-padding">
    <div class="col-fluid">
        <div class="spacer"></div>
        <p>I am a Full-Stack Web Developer and Graphic Designer based in Houston, Texas. I graduated from The College of William & Mary in Williamsburg, VA with a Bachelor of Arts in Economics. Since then, I have used my creative and analytical skills working for the Livestrong Foundation, Austin Film Society, Contemporary Arts Museum Houston, and ATX Television Festival. After several years in the non-profit field, I decided to expand upon my undergraduate computer science courses, design background, and database experience to pursue a career in Web Development.</p>
        <p>In my spare time, I enjoy making short films, reading Jane Austen novels, and building tiny model houses.</p>
        <div class="spacer"></div>
        <div class="tagline">Email :: <a href="mailto:thigabiga@gmail.com">thigabiga@gmail.com</a></div>
        <div class="tagline">Github :: <a href="https://github.com/thigabiga">@thigabiga</a></div>
        <div class="tagline">LinkedIn :: <a href="https://www.linkedin.com/in/erin-thigpen/">linkedin.com/in/erin-thigpen</a></div>
    </div>
</div>