<div class="container container-box">

    <div class="row d-flex justify-content-center">
        <div class="col project-text-box">
            <h3>Hey, there! I'm a designer / developer.</h3>
            <p>I enjoy merging my creative background and penchant for problem-solving to create unique content and applications.</p>
            <p>I currently work as a data engineer at NOV in Houston, Texas.</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col mx-4 my-3 project-box d-flex justify-content-center">
            <div class="btn-vert">
                <button class="btn-icon d-flex align-items-center">
                    <span class="material-icons icn">email</span>
                    <span class="extra-info">Contact me.</span>
                </button>
                <button class="btn-icon d-flex align-items-center">
                    <span class="material-icons icn">code</span>
                    <span class="extra-info">Follow me on Github.</span>
                </button>
                <button class="btn-icon d-flex align-items-center">
                    <span class="material-icons icn">work</span>
                    <span class="extra-info">Add me on LinkedIn.</span>
                </button>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col mx-4 my-3 project-box d-flex justify-content-center">
            <img class="img-fluid circle" src="{{image}}" />
        </div>
    </div>

</div>

