{{!-- HERO --}}
<div class="row">
    <img class="headshot" src="../../images/headshot.jpg" />
</div>

{{!-- ABOUT --}}
<div class="row-fluid d-flex justify-content-center">
    <div class="col space-around">
        <h2>Hey, there!</h2>
        <p>My name is Erin Thigpen. I'm a developer and designer based in Houston, Texas.</p>
        <p>I graduated from the College of William & Mary in Virgina with a B.A. in Economics. Since then, I have worked for the ATX Television Festival, Contemporary Arts Museum Houston, and Austin Film Society. I enjoy merging my creative background and penchant for problem-solving to create unique content and applications.</p>
        <p>When I'm not coding or creating digital illustrations, I spend time reading Colin Dexter novels, crafting tiny houses, and doing improv comedy.</p>
    </div>
</div>