<div class="container container-box">

    <div class="row d-flex justify-content-center">
        <div class="col project-text-box">
            <h3>Hey, there! I'm a designer / developer.</h3>
            <p>I currently work as a data engineer at NOV.</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col mx-4 my-3 project-box d-flex justify-content-center">
            <div class="btn-vert">
                <button class="btn-icon d-flex align-items-center">
                    <span class="material-icons icn">email</span>
                    <span class="extra-info">thigpen.erin@gmail.com</span>
                </button>
                <button class="btn-icon d-flex align-items-center">
                    <span class="material-icons icn">email</span>
                    <span class="extra-info">thigpen.erin@gmail.com</span>
                </button>
                <button class="btn-icon d-flex align-items-center">
                    <span class="material-icons icn">email</span>
                    <span class="extra-info">thigpen.erin@gmail.com</span>
                </button>

            </div>



            <ul>
                <li>

                </li>
                <li><button class="circle-btn"><span class="material-icons">location_on</span></button>Houston, TX</li>
                <li><button class="circle-btn"><span class="material-icons">code</span></button>Github</li>
                <li><button class="circle-btn"><span class="material-icons">work</span></button>LinkedIn</li>
            </ul>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col mx-4 my-3 project-box d-flex justify-content-center">
            <img class="img-fluid circle" src="{{image}}" />
        </div>
    </div>

</div>

