<div class="spacer"></div>

<div class="row">
    <div class="col">
        <div class="d-flex justify-content-center">
            <div class="headshot-mask">
                <img class="headshot" src="../../images/headshot.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="row text-padding d-flex justify-content-center">
    <div class="col-fluid limit-width">
        <div class="spacer"></div>
        <h2>Hi, my name is Erin.</h2>
        <div class="spacer"></div>
        <p>I am a Full-Stack Web Developer and Graphic Designer living in Houston, Texas. I graduated from The College of William & Mary in Williamsburg, VA with a Bachelor of Arts in Economics. Since then, I have used my creative and analytical skills working for the ATX Television Festival, Contemporary Arts Museum Houston, and Austin Film Society.</p>
        <p>After several years in the non-profit field, I decided to expand upon my undergraduate computer science courses, design background, and database experience to pursue a career in Web Development.</p>
        <p>In my spare time, I enjoy making short films, reading Jane Austen novels, and building tiny model houses.</p>
        <div class="spacer"></div>
        <div class="tagline">Email :: <a href="mailto:thigabiga@gmail.com">thigpen.erin@gmail.com</a></div>
        <div class="tagline">GitHub :: <a href="https://github.com/thigabiga" target="_blank">@thigabiga</a></div>
        <div class="tagline">LinkedIn :: <a href="https://www.linkedin.com/in/erin-thigpen/" target="_blank">linkedin.com/in/erin-thigpen</a></div>
    </div>
</div>