
<div class="container">

    <div class="row" id="workArtworkGrid">
        {{#each projectInfo}}
        <div class="col-md-6 col-lg-4">
            <img src="../../images/{{image}}" class="img-fluid" alt="{{altText}}" />
            <h3 class="pt-3" data-id="{{id}}">{{title}}</h3>
        </div>
        {{/each}}
    </div>

</div>

{{!-- SCRIPTS --}}
<script type="text/javascript" src="../../scripts/project-navigation.js" async></script>