{{!-- WORK --}}
<div class="row" id="workArtworkGrid">
    {{#each workInfo}}
    <div class="col-sm-12 col-md-6 col-lg-4">
        <img class="img-fluid tiled" src="../../images/{{image}}" />
        <p class="work-link" data-id="{{id}}" id="text-{{id}}">{{title}}</p>
    </div>
    {{/each}}
</div>

{{!-- SCRIPTS --}}
<script type="text/javascript" src="../../scripts/work-nav.js" async></script>