<!-- <div class="row text-padding">
    <h3>Home</h3>
</div> -->

<!-- testing styles -->
<!-- get rid of nav bar on this page? -->
<div class="row">
    <div class="col-fluid" style="position: relative">
        <!-- <img class="home-screen" src="../../images/placeholder.png" />
        
            <div class="text-block" style="position: absolute; top: 50%; left: 85%; font-family: 'PT Sans'; font-size: 20px; font-weight: 400; transform: translate(-50%, -50%); letter-spacing: 2px;">
                Code
            </div>
            <div class="text-block" style="position: absolute; top: 85%; left: 50%; font-family: 'PT Sans'; font-size: 20px; font-weight: 400; transform: translate(-50%, -50%); letter-spacing: 2px;">
                Design
            </div>
        
            <div class="text-block" style="position: absolute; top: 50%; left: 15%; font-family: 'PT Sans'; font-size: 20px; font-weight: 400; transform: translate(-50%, -50%); letter-spacing: 2px;">
                About
            </div> -->
    </div>
</div>