
<div class="container container-box">

    {{!-- WORK GRID --}}
    <div class="row" id="workArtworkGrid">
        {{#each images}}
        <div class="col-sm-6 col-md-4 col-lg-4 my-3" data-id="{{imageId}}">
            <div class="service-wrapper">
                <div><img src="{{imageURL}}" class="img-fluid" alt="{{altText}}" /></div>
                <div class="service-wrapper-inner d-flex justify-content-center">
                    <div class="d-flex align-self-center">{{title}}</div>
                </div>
            </div>
                
                    
        </div>
        {{/each}}
    </div>

</div>

{{!-- SCRIPTS --}}
<script type="text/javascript" src="../../scripts/project-navigation.js" async></script>