<!-- <div class="row text-padding">
    <h3>Home</h3>
</div> -->

<!-- testing styles -->
<!-- get rid of nav bar on this page? -->
<div class="row">
    <div class="col-fluid" style="position: relative">
        <img class="home-screen" src="../../images/placeholder.png" />
        
            <!-- <div class="text-block" style="position: absolute; top: 50%; left: 50%; font-family: 'Playfair Display'; font-size: 72px; font-weight: 700; transform: translate(-50%, -50%);">?
            </div> -->
        
            <div class="text-block" style="position: absolute; top: 50%; left: 85%; font-family: 'Playfair Display'; font-size: 20px; font-weight: 700; transform: translate(-50%, -50%);">
                Code
            </div>
            <div class="text-block" style="position: absolute; top: 85%; left: 50%; font-family: 'Playfair Display'; font-size: 20px; font-weight: 700; transform: translate(-50%, -50%);">
                Design
            </div>
        
            <div class="text-block" style="position: absolute; top: 50%; left: 15%; font-family: 'Playfair Display'; font-size: 20px; font-weight: 700; transform: translate(-50%, -50%);">
                About
            </div>
    </div>
</div>