{{!-- WORK --}}
<div class="row d-flex row-tiled" id="workArtworkGrid">
    {{#each workInfo}}
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="tiled d-flex">
            <div class="d-flex align-self-center">
                <div>
                    <h6 data-id="{{id}}">{{title}}</h6>
                    <p class="tiled-text">{{{description}}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

{{!-- SCRIPTS --}}
<script type="text/javascript" src="../../scripts/work-nav.js" async></script>