{{#with myproject}}
<div class="row">
    <div class="col-12 hero">
        <img class="hero-banner" src="{{images.[0]}}" />
    </div>
</div>

<!-- <div class="row text-padding d-flex justify-content-between">
    <div id="left-arrow">&lt;--</div>
    <div id="right-arrow">--&gt;</div>
</div> -->

<div class="spacer"></div>
<div class="row text-padding d-flex justify-content-center">
    <h3>{{title}}</h3>
</div>
<div class="spacer"></div>
<div class="row text-padding">
    <div class="col-fluid">
        <p>{{description}}</p>
        <div class="spacer"></div>
        <h5 class="header-tagline">Employer :: {{employer}}</h5>
        <h6 class="header-tagline">Front End :: CSS | HTML | OTHER</h6>
    </div>
</div>
{{/with}}
