@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,300i,400i,600i');

body { 
    padding-top: 50px;
}

a {
    font-family: "Nunito", sans-serif;
}

h1, h2, h3 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-weight: 300;
}

h4, h5, h6 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-weight: 600;
}

p {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 14pt;
    font-weight: 400;
}

.project-box {
    max-width: 786px;
}

.footer-row {
    background-color: gray;
}

.tiny-logo {
    width: 18px;
}

.click-image {
    cursor: pointer;
}

.nav-text {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 10pt;
    font-weight: 400;
    text-transform: uppercase;
}