@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;700&display=swap');

/* Color Scheme
#FFFCF2 Floral White
#CCC5B9 Pale Silver
#403D39 Black Olive
#252422 Eerie Black
#EB5E28 Flame */

a {
    font-family: "Lato", sans-serif;
}

h1 {
    font-family: "Playfair Display", serif;
    color: #252422;
}

h2 {
    font-family: "Playfair Display", serif;
    color: #252422;
}

h3 {
    font-family: "Playfair Display", serif;
    color: #252422;
    text-align: center;
    padding-bottom: 20px;
    font-size: 18pt;
    font-weight: 700;
}

h5 {
    font-family: "Lato", sans-serif;
    color: #252422;
}

h4, h5 {
    font-family: "Playfair Display", serif;
    color: #252422;
}

h6 {
    font-family: "Lato", sans-serif;
    color: #eb5e28;
    text-transform: uppercase;
    font-size: 8pt;
    text-align: center;
    padding: 20px;
}

p {
    font-family: "Lato", sans-serif;
    color: #403d39;
    text-align: center;
    line-height: 1.8;
    font-size: 11pt;
}

p.caption {
    font-family: "Lato", sans-serif;
    color: #403d39;
    text-align: center;
    font-size: 9pt; 
    padding: 20px;
}

.project-text-box {
    margin-top: 30px;
    max-width: 300px;
}

.click-image {
    cursor: pointer;
}

.nav-text, nav-text:visited {
    color: #403d39;
    font-family: "Lato", sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
}

.nav-text:hover {
    color: #eb5e28;
    text-decoration: none;
}

.nav-brand, nav-brand:visited {
    color: #252422;
    font-size: 20pt;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}

.nav-brand:hover {
    color: #eb5e28;
    text-decoration: none;
}

.header {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    padding-top: 10px;
    max-width: 768px;
    border-bottom: 1px solid #ccc5b9;
}

.extra-info {
    font-family: "Lato", sans-serif;
    font-size: 10pt;
    color: #403d39;
    text-align: left;
}

.btn-icon:hover > span {
    color: #eb5e28;
    text-decoration: underline;
    text-decoration-color: #eb5e28;
}

.btn-vert {
    display: block; /* Make the buttons appear below each other */
}

.btn-icon {
    background-color: white;
    border: none;
    cursor: pointer; /* Pointer/hand icon */
    color: #403d39;
    text-decoration: none;
}

.icn {
    margin: 10px;
}

.container-box {
    max-width: 768px;
}

img.circle {
    border-radius: 50%;
    max-width: 250px;
}

.service-wrapper {
    overflow: hidden;
    position: relative;
}

.service-wrapper-inner {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    padding: 20px;
    transition: 0.2s;
    background: rgba(235, 94, 40, .75);
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14pt;
    font-weight: 300;
    text-align: center;
    opacity: 0;
    top: 0;
    cursor: pointer;
}

.service-wrapper:hover .service-wrapper-inner {
    top: 0;
    background: rgba(235, 94, 40, .75);
    opacity: 1;
}

.service-wrapper:hover > div > img {
    opacity: .5;
}

footer {
    width: 100%;
    color: #CCC5B9;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 8pt;
    padding: 10px;
    background-color: white;
}

footer, .push {
    height: 50px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}