@import url('https://fonts.googleapis.com/css?family=Lato|Trocchi');

/*********** GENERAL LAYOUT STYLES ***********/

body {
    margin: 60px 0px;
    padding: 0px;
}

.space-around {
    max-width: 600px;
    padding: 100px 0px;
}

/*********** NAV STYLES ***********/

.header-menu {
    background-color: white;
    border-bottom: 1px solid #2E2C2F;
    overflow: hidden;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-top-hashtag {
    color: #2E2C2F;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

.brand-name {
    color: #2E2C2F;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    /* text-transform: uppercase;    */
}

/*********** FOOTER STYLES ***********/

.footer-menu {
    background-color: white;
    border-top: 1px solid #2E2C2F;
    bottom: 0;
    padding: 20px;
    position: fixed;
    width: 100%;
}

.nav-bottom-hashtag {
    color: #EF6461;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

/*********** TEXT STYLES ***********/

a, a:visited, a:hover {
    color: #EF6461;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #2E2C2F;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
    text-align: left;
}

p {
    color: #2B2D42;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    padding-bottom: 20px;
    text-align: left;
}

.work-link:hover {
    color: #EF6461;
    cursor: pointer;
    text-decoration: underline;
}

/*********** IMAGE STYLES ***********/

.work-image-mask {
    max-height: 200px;
    object-fit: cover;
    overflow: hidden;
}

.work-image {
    object-position: 50% 50%;
    width: 100%;
}

.headshot {
    object-fit: cover;
    width: 100%;
    height: 450px;
}

.tiled {
    height: 400px;
    object-fit: cover;
    width: 100%;
}